@charset "utf-8";
table {
  border-collapse: collapse;
  height: 100%;
}

caption {
  text-align: left;
}

tr {
  height: 36px;
}

td.mark {
  width: 23px;
  height: 100%;
}

.mark > div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #AAAAAA;
  border-radius: 13px;
  color: #AAAAAA;
}

.mark > div.done {
  border: solid 1px #FF8888;
  color: #FF8888;
}

td.task {
  width: 150px;
  border-bottom: solid 1px #FF0000;
  cursor: default;
}

td.none {
  width: 60px;
  height: 100%;
  cursor: default;
}

.none > div {
  width: 90%;
  height: 80%;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #0000AA;
  border-radius: 8px;
  color: #0000AA;
}

td.time {
  width: 40px;
  color: #AAAAAA;
}

td.completed {
  color: #AAAAAA;
  text-decoration: line-through;
}
